<!DOCTYPE html>
<html>
<head>
	<title>Historical Data</title>
</head>
<body>
	
	<form method="POST" action="/api/ai/prediction">
		<label>api_password:</label>
		<input type="text" name="api_password" >

		<label>upc_product_code:</label>
		<input type="text" name="upc_product_code" >

		<label>seller_email:</label>
		<input type="text" name="seller_email" >

		<label>buyer_email:</label>
		<input type="text" name="buyer_email" >
		
		<input type="submit" name="api_password" value="Get AI Prediction">
	</form>
</body>
</html>