<!DOCTYPE html>
<html>
<head>
	<title>Historical Data</title>
</head>
<body>
	
	<form method="POST" action="/business/analytic/products/offers">
		<label>api_password:</label>
		<input type="text" name="api_password" >
		
		<label>upc_product_code:</label>
		<input type="text" name="upc_product_code" >

		<label>seller_email:</label>
		<input type="text" name="seller_email" >
		
		
		<input type="submit" name="api_password" value="Get Business Intelligence on product offers">
	</form>
</body>
</html>